.center{
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 200px;
    column-gap: 5px;
    
    
  }

.right {
    text-align: right;
    padding-right: 160px;
    padding-top: 20px;
}

.tabstyle{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: aliceblue;
    text-decoration: none;
}

.BG {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 100px;
    z-index: -1;
    
}

.common{
    position: absolute;
}

.footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    color: black;
    text-align: center;
    position: fixed;
}

.style2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.noline {
    text-decoration: none;
}